.body {
	font-family: "Roboto", sans-serif;
	max-width: 1282px;
	margin: auto;
}

.header-title {
	margin-top: 63px;
	color: black;
}

.logo {
	text-decoration: none;
	width: 334px;
	height: 79px;
	font-size: 80px;
	color: black;
}

.color-title {
	color: #4bcaff;
}

.head-menu {
	margin-top: 38px;
	margin-bottom: 48px;
}

.head-menu-list {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #35444f;
}

.head-menu-item {
	border-left: 1px solid white;
	font-size: 24px;
}

.head-menu-link {
	display: block;
	padding: 26px 35px 19px 35px;
	color: white;
	text-decoration: none;
}

.head-menu-item:hover {
	background-color: #222f3a;
}

.main {
	display: flex;
	justify-content: space-between;
}

.left-menu-list {
	border: 1px solid black;
	width: 344px;
}

.left-menu-item {
	font-size: 27px;
}

.left-menu-link {
	display: block;
	text-decoration: none;
	padding-left: 44px;
	line-height: 81px;
	color: #485863;
}

.left-menu-link:hover {
	color: #35444f;
	background-color: #dbdbdb;
	padding-left: 60px;
}

.main-info {
	margin-left: 53px;
}

.section-img {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	height: 529px;
}

.text {
	font-size: 18px;
	color: #2c2c2c;
}

.paragraph-top {
	margin-top: 37px;
}

.paragraph-bottom {
	margin-top: 34px;
}

.foot {
	margin-top: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(99, 105, 110, 0.48);
	margin-bottom: 30px;
}

.foot-menu-list {
	display: flex;
	justify-content: left;
	align-items: center;
	line-height: 50px;
	padding-left: 40px;
}

.foot-menu-link {
	display: block;
	text-decoration: none;
	color: #0c1927;
	font-size: 28px;
	padding-right: 40px;
}

.foot-menu-link:hover {
	color: #3181a6;
	border-bottom: 1px solid #3181a6;
}

.foot-copy {
	font-size: 24px;
	padding-right: 40px;
	line-height: 80px;
}
